.itemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* Added to position description absolute */
  }
  
  .description {
    position: absolute; /* Absolute positioning */
    top: 20px; /* Position from top */
    left: 20px; /* Position from left */
    font-size: 24px; /* Font size */
    z-index: 1; /* Ensure it appears on top */
  }
  
  .image {
    width: 50%; /* Make the image take 1/3 of the screen width */
  }
  
  /* Media query for screens smaller than 768px */
  @media screen and (max-width: 768px) {
    .image {
      width: 80%; /* Make the image take 80% of the screen width on small screens */
    }
  }
  